# If you want source files from folders on this list, make an issue.
# Folders
ForgeEssentials/
veerle-v/
snooper/
morton/
downloads/
phpmyadmin/
phpsysinfo/
capes/
glasses/
screenshots/
holoinventory/
geogebra/
school/
ddd/
MusicToTheMadness/

# Files
*.zip