# If you want source files from folders on this list, make an issue.
# Folders
ForgeEssentials/
veerle-v/
snooper/
morton/
downloads/
modjam/
graph/
phpmyadmin/
phpsysinfo/
capes/
glasses/
unite/
screenshots/
holoinventory/
geogebra/
school/

# Files
*.zip